@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

:root {
    margin: 0;
    padding: 0;
    zoom: .7;
}

.mobile {
    display: none;
}

nav.navbar {
    /* display: block; */
    position: sticky;
    top: 0;
    z-index: 999;
}

.z-index-1 {
    position: relative;
    z-index: 9999;
}

.button-artikel {
    background: #38A579;
    border: 2px solid #57CC99;
    border-radius: 8px;
}

.nav-artikel {
    background: #38A579;
    border-radius: 24px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
}

.btn.login-btn {
    color: #C7F9CC;
    background-color: #005D34;
    font-size: 18px;
    border: none;
    padding: .3em 1.1em;
}

.btn.btn-primary.login-btn:hover {
    background-color: #034025;
}

.body {
    background-color: #E8F8EA;
}

.navbar-nav>li {
    padding-left: 40px;
    padding-right: 40px;
    font-size: x-large;
}

.navbar-nav>li.nav-mobile {
    display: none;
}

.nav-color {
    background-color: #80ed99;
}

.card.card-parent a {
    text-decoration: none;
    color: black;
    padding-bottom: 1.3em;
}

.card.card-parent {
    display: flex;
    align-items: center;
    /* position: relative; */
    background-color: #38A579;
    padding-bottom: 15.7em;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 1px 18px 14px 3px #1A8E60;
    /* box-shadow: inset 2px 10px 3px rgba(0, 0, 0, 0.445); */
}

.card-body.container {
    position: absolute;
    background-color: transparent;
    width: inherit;
    height: 250px;
    border-radius: 40px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 1px 18px 14px 3px #1A8E60; */
}

.card-body {
    border-radius: 200px;
}

.card-title {
    color: white;
}

.margin-0 {
    margin: 0;
}

.padding-all-0 {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.border-card {
    border-radius: 20px;
    height: 230px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 2px -5px 8px rgba(0, 0, 0, 0.25);
    transition: all .25s;
}

.btn-add-hospital {
    background-color: #005D34;
    color: #C7F9CC;
    padding: 10px 18px;
    border: none;
    font-size: 23px;
}

.btn.btn-add-hospital:hover {
    background-color: #005D34;
}

a {
    text-decoration: none;
    color: black;
}

.b {
    color: white;
    text-decoration: none;
}

.search-form .input-group .search-span {
    background-color: #C7F9CC;
    border: none;
}

div.search-bar {
    margin-top: 180px;
    /* border-radius: 15%; */
}

div.search-bar input {
    border: none;
    font-size: 24px;
    padding: 20px;
    width: 80%;
    /* border-radius: 45%; */
    background-color: #C7F9CC;
    /* box-shadow: 4px 3px 13px rgba(0, 0, 0, 25%); */
}

div.search-bar input:focus {
    box-shadow: none;
    background-color: #C7F9CC;
}

div.search-span {
    border: none;
    border-radius: 15%;
    background-color: #C7F9CC;
    /* box-shadow: 4px 3px 13px rgba(0, 0, 0, 25%); */
}

.btn-add-hospital {
    margin: 0px 4.9%;
}

a.btn-add-hospital {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    color: #C7F9CC;
    background-color: #005D34;
    transition: all .25s;
}

a.btn-add-hospital.btn-primary:hover {
    background-color: #004125;
    color: #C7F9CC;
}

div.foot-back {
    background-color: #C7F9CC;
}

div.foot-back a {
    text-decoration: none;
    color: black;
}

div.foot-back strong {
    font-weight: 500;
}

div.foot-back .row div {
    width: 289px;
}

.footer-layanan {
    margin-right: 190px;
}

div.foot-back a h3 {
    font-weight: 300;
}

.footer-contact {
    background-color: #57CC99;
    color: #005D34;
}

.rms a {
    text-decoration: none;
}

.rms a:hover {}

.rms a:hover .card-rms:hover {
    background: #6ab07a;
}

.card-rms {
    background: #7CCF8F;
    box-shadow: 11px 8px 15px -1px rgba(0, 0, 0, 0.25);
    border-radius: 24.1404px;
    transition: .25s;
}

div.card-rms .star-rating {
    width: 30px;
}

a.btn-edit-hospital {
    background-color: #005D34;
    color: #C7F9CC;
    border: none;
    padding: 7px 25px;
    bottom: 30px;
    right: 35px;
    font-size: 20px;
}

a.btn.btn-edit-hospital:hover {
    background-color: #004a2a;
    color: #C7F9CC;
}

.text-h3 {
    color: #D1FFED;
}

a.card-child-active {
    background-color: #CCFFD8;
}

a.border-card-active,
.border-card:hover {
    background-color: #CCFFD8;
}

.border-card:active {
    background-color: #a6d6b1;
}

div.hospital-mobile {
    display: none;
}

@media only screen and (max-width: 992px) {

    * {
        font-size: calc(12% + 1vw + 1vh);
    }


    div.card-rms .star-rating {
        width: 26px;
    }


    div.logout-button {
        display: none;
    }

    .navbar-nav>li.nav-mobile {
        display: block;
        padding-bottom: 10px;
        /* padding: 0; */
    }

    nav.navbar .navbar-nav {
        margin-top: 10px;
        gap: 10px;
    }

    nav.navbar li.nav-item {
        width: 100%;
        padding: 0;
    }

    nav.navbar ul.navbar-nav li {
        font-size: calc(50% + 1vw + 1vh);
    }

    nav.navbar ul.navbar-nav li a.btn.btn-primary {
        font-size: calc(15% + 1vw + 1vh);
    }

    :root {
        /* zoom: .; */
        overflow-x: hidden;
        /* position: relative; */
        height: 100%;
    }

    div.partial-navbar {
        display: none;
    }

    body>div.container-fluid .w85 {
        margin: auto;
        width: 85%;
    }

    div.search-bar {
        margin: 0px 15px 0px;
    }





    .modal-body {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }





    div.card-rms {
        width: 45em;
        /* width: 100%; */
        margin-right: 20px;
    }




    div.hospital-desktop {
        display: none;
    }

    div.hospital-mobile {
        display: block;
    }

    div.hospital-list-container-mobile {
        display: flex;
        gap: 12px;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        scroll-padding: 50px;
    }

    div.hospital-item-mobile {
        flex: 0 0 80%;
        scroll-snap-align: start;
    }






    div.footer-layanan {
        margin-right: 0;
    }

    div.foot-back .row strong {
        font-size: 35px;
    }



    /* .mobile {
        margin: 0px 3em;
        text-align: center;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .mobile~*,
    .navbar.navbar-expand-lg {
        display: none;
    } */
}

/* Khusus Navbar Tablet */
@media only screen and (max-width: 699px) {
    nav.navbar ul.navbar-nav li {
        font-size: calc(65% + 1vw + 1vh);
    }

    nav.navbar ul.navbar-nav li a.btn.btn-primary {
        font-size: calc(25% + 1vw + 1vh);
    }
}

@media only screen and (max-width: 598px) {

    nav.navbar ul.navbar-nav li {
        font-size: calc(85% + 1vw + 1vh);
    }

    nav.navbar ul.navbar-nav li a.btn.btn-primary {
        font-size: calc(32% + 1vw + 1vh);
    }

    * {
        font-size: calc(28% + 1vw + 1vh);
    }

    div.foot-back .row a h3 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 653px) {
    div.card-rms {
        width: 90%;
    }

    div.rms a {
        right: 15%;
    }

}
