@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

:root {
    margin: 0;
    padding: 0;
    zoom: .7;
}

.mobile {
    display: none;
}

body {
    background-color: #E8F8EA;
}

.btn.login-btn {
    color: #C7F9CC;
    font-size: 18px;
    background-color: #005D34;
    border: none;
    padding: .3em 1.1em;
}

.btn.btn-primary.login-btn:hover {
    background-color: #034025;
}

.body {
    background-color: #E8F8EA;
}

.navbar-nav>li {
    padding-left: 40px;
    padding-right: 40px;
    font-size: x-large;
}

.nav-color {
    background-color: #80ed99;
}

.margin-0 {
    margin: 0;
}

.padding-all-0 {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.carousel {
    width: 650px;
}

.carousel img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 14px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.443);
    border-radius: 14px;
    padding: 0px;
    padding-top: 10px;
    font-size: 18px;
}

a.btn.btn.btn-primary.btn-back {
    /* display: none; */
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 29px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.358);
    border: none;
    background-color: #C7F9CC;
    color: black;
}

a.btn.btn.btn-primary.btn-back:hover {
    background-color: #addcb2;
    /* display: none; */
    text-decoration: none;
    color: black;
}

article {
    font-size: 25px;
    text-align: justify;
}

article img {
    /* width: 50vw; */
    display: block;
    margin: 48px auto;
    width: 80%;
    max-height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 14px;
}

.article-btn .btn.btn-primary {
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    color: #C7F9CC;
    background-color: #005D34;
    transition: all .25s;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.358);
}

.article-btn .btn.btn-primary:hover {
    background-color: #004125;
    color: #C7F9CC;
}

div.foot-back {
    background-color: #C7F9CC;
}

div.foot-back a {
    text-decoration: none;
    color: black;
}

div.foot-back strong {
    font-weight: 500;
}

div.foot-back a h3 {
    font-weight: 300;
}

.footer-contact {
    background-color: #57CC99;
    color: #005D34;
}

@media only screen and (max-width: 1227px) {
    .mobile {
        margin: 0px 3em;
        text-align: center;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .mobile~*,
    .navbar.navbar-expand-lg {
        display: none;
    }
}
